html, body, #root {
  height: 100%;
  margin: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrapper {
  flex: 1;
}

.theme-switcher-bottom {
  padding: 20px;
  text-align: center;
}

.theme-switch-bottom-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.container {
  margin-top: 50px;
  border-radius: 10px;
}

.narrow-container {
  margin: 0 auto;
  padding: 0 20px; /* Add horizontal padding */
}

.card {
  padding: 20px;
  border-radius: 10px;
}

.card-content {
  text-align: center;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
}

.drop-area {
  border: 2px dashed #ccc;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1a1a1a;
}

.drop-area.drag-over {
  background-color: #f0f0f0;
}

.input-field select {
  border: 1px solid #9e9e9e;
  border-radius: 5px;
  padding: 8px 12px;
  background-color: #ffffff;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20fill%3D%22%23666%22%20d%3D%22M208.5%2080.5L128%20161L47.5%2080.5z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}

.dark .input-field select {
  border: 1px solid #616161;
  background-color: #424242;
  color: #ffffff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20256%20256%22%3E%3Cpath%20fill%3D%22%23bbb%22%20d%3D%22M208.5%2080.5L128%20161L47.5%2080.5z%22%2F%3E%3C%2Fsvg%3E');
}

.input-field select:focus {
  outline: none;
  border-color: #2196f3;
  box-shadow: 0 0 0 0.2rem rgba(33, 150, 243, 0.25);
}

.dark .input-field select:focus {
  border-color: #bb86fc;
  box-shadow: 0 0 0 0.2rem rgba(187, 134, 252, 0.25);
}

.collection-item .secondary-content {
  margin-left: auto;
}

.btn {
  padding: 0.8em 1.5em;
  background-color: #4CAF50;
  color: white;
  border: 2px solid #388E3C;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, border-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background-color: #388E3C;
  border-color: #1B5E20;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn.selected-format {
  background-color: #2196F3;
  color: white;
  border: 2px solid #1976D2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn.selected-format:hover {
  background-color: #1976D2;
  border-color: #0D47A1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button {
  --background: #275efe;
  --rectangle: #184fee;
  --text: #fff;
  --shadow: rgba(10, 22, 50, .24);
  display: flex;
  overflow: hidden;
  text-decoration: none;
  background: var(--background);
  border-radius: 8px;
  box-shadow: 0 2px 8px -1px var(--shadow);
  transition: transform .2s ease, box-shadow .2s ease;
  padding: 16px 40px;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  color: var(--text);
  justify-content: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  border: none;
}

.button:active {
  transform: scale(.95);
  box-shadow: 0 1px 4px -1px var(--shadow);
}

@media (max-width: 600px) {
  .card {
    padding: 10px;
  }

  .btn {
    width: 100%;
    margin-bottom: 10px;
  }

  .switch {
    display: flex;
    justify-content: center;
  }
}

.conversion-progress {
  opacity: 1;
  max-height: 1000px;
}

.conversion-complete {
  opacity: 0;
  max-height: 0;
}

.card-content.show-complete .conversion-progress {
  opacity: 0;
  max-height: 0;
}

.card-content.show-complete .conversion-complete {
  opacity: 1;
  max-height: 1000px;
}

.collection-item {
  opacity: 0;
}

.collection-item.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}