.custom-dropdown-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  color: #6a6a6a;
  border-radius: 5px;
}

.custom-dropdown-selected {
  width: 100%;
  padding: 15px 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fdfdfd;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none;
  color: #333;
}

.custom-dropdown-selected::after {
  content: '\25BC';
  font-size: 0.8em;
  color: #6a6a6a;
}

.custom-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fdfdfd;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  z-index: 1000;
  max-height: 200px;
  overflow-y: auto;
  color: #333;
}

.custom-dropdown-list li {
  padding: 10px 15px;
  cursor: pointer;
}

.custom-dropdown-list li:hover {
  background-color: #e0e0e0;
}

.custom-dropdown-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 0.8em;
  color: #6a6a6a;
  pointer-events: none;
}

.dark .custom-dropdown-selected,
.dark .custom-dropdown-list {
  background-color: #333;
  border-color: #555;
  color: #ffffff;
}

.dark .custom-dropdown-selected::after {
  color: #ffffff;
}

.dark .custom-dropdown-list li:hover {
  background-color: #444;
}

.dark .custom-dropdown-label {
  background-color: #333;
  color: #ffffff;
}

.dark .custom-dropdown-wrapper {

}