/* General styles for the custom dropdown */
.custom-dropdown-wrapper {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
  font-size: 1em;
  color: #6a6a6a;
  /* Removed border from wrapper */
  border-radius: 5px;
}

.custom-dropdown-selected {
  width: 100%;
  padding: 15px 15px; /* Increased padding */
  border: 1px solid #ddd; /* Lighter, subtle border */
  border-radius: 5px;
  background-color: #fdfdfd; /* Very light background */
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: none; /* Removed shadow */
  color: #333; /* Darker text color */
}

.custom-dropdown-selected::after {
  content: '\25BC'; /* Down arrow */
  font-size: 0.8em;
  color: #6a6a6a;
}

.custom-dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
  border: 1px solid #ddd; /* Lighter, subtle border */
  border-radius: 5px;
  background-color: #fdfdfd; /* Very light background */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Subtle shadow for dropdown list */
  z-index: 1000;
  max-height: 200px; /* Limit height for scrollability */
  overflow-y: auto;
  color: #333; /* Darker text color */
}

.custom-dropdown-list li {
  padding: 10px 15px;
  cursor: pointer;
}

.custom-dropdown-list li:hover {
  background-color: #e0e0e0; /* Slightly darker gray on hover */
}

.custom-dropdown-label {
  position: absolute;
  top: -10px;
  left: 10px;
  background-color: #fff;
  padding: 0 5px;
  font-size: 0.8em;
  color: #6a6a6a;
  pointer-events: none;
}

/* Dark theme adjustments */
.dark .custom-dropdown-selected,
.dark .custom-dropdown-list {
  background-color: #333; /* Darker background for dark theme */
  border-color: #555; /* Darker border for dark theme */
  color: #ffffff;
}

.dark .custom-dropdown-selected::after {
  color: #ffffff;
}

.dark .custom-dropdown-list li:hover {
  background-color: #444;
}

.dark .custom-dropdown-label {
  background-color: #333; /* Darker background for dark theme */
  color: #ffffff;
}

.dark .custom-dropdown-wrapper {
  /* Removed border from wrapper for dark theme */
}
