body.dark {
  background-color: #121212;
  color: #ffffff;
}

.dark .card {
  background-color: #1e1e1e;
  color: #ffffff;
}

.dark .card .card-title {
  color: #ffffff;
}

.dark .btn {
  background-color: #bb86fc;
  color: #000000;
}

.dark .input-field label {
  color: #ffffff;
}

.dark .input-field input[type=text]:not(.browser-default) {
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
}

.dark .dropdown-content {
  background-color: #1e1e1e;
}

.dark .dropdown-content li>a, .dark .dropdown-content li>span {
  color: #ffffff;
}

.dark .collection {
  border-color: #424242;
}

.dark .collection .collection-item {
  background-color: #1e1e1e;
  border-color: #424242;
  color: #ffffff;
}

.dark .secondary-content {
    color: #bb86fc;
}
