body.dark {
  background-color: #1A202C;
  color: #E2E8F0;
  --text-color: #E2E8F0;
}

.dark .card {
  background-color: #2D3748;
  color: #E2E8F0;
}

.dark .card .card-title {
  color: #E2E8F0;
}

.dark .btn {
  background-color: #4A5568;
  color: #E2E8F0;
}

.dark .btn.selected-format {
  background-color: #63B3ED;
  color: #1A202C;
}

.dark .input-field label {
  color: #E2E8F0;
}

.dark .input-field input[type=text]:not(.browser-default) {
  border-bottom: 1px solid #E2E8F0;
  color: #E2E8F0;
}

.dark .dropdown-content {
  background-color: #2D3748;
}

.dark .dropdown-content li>a, .dark .dropdown-content li>span {
  color: #E2E8F0;
}

.dark .collection {
  border-color: #4A5568;
}

.dark .collection .collection-item {
  background-color: #2D3748;
  border-color: #4A5568;
  color: #E2E8F0;
}

.dark .secondary-content {
    color: #63B3ED;
}