
.app-header {
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: center; /* Centered horizontally */
  align-items: center;
}

.logo {
  height: 80px; /* Made bigger */
  margin-top: 40px; /* Increased top margin for more separation */
}
