.app-header {
  padding: 10px 0;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 80px;
  margin-top: 40px;
}

.switch-wrapper {
  display: flex;
  align-items: center;
  margin-top: 40px;
}